.listen-icons {
  margin-top: 36px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icons svg {
  color: var(--currentColor);
}
@media (max-width: 480px) {
  .icons svg {
    width: 60px;
    height: 60px;
  }
}
