@import '../utils/variables';

.textbox {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 40px;
  border-radius: 20px;
  background: var(--color-textbox);
  box-shadow: var(--boxshadow);

  p {
    letter-spacing: 1.12px;
  }
}

@media (max-width: 1024px) {
  .textbox {
    margin: 235px 0;
  }
}

@media (max-width: 480px) {
  .textbox {
    padding: 30px 20px;
    margin: 54px 0;
    p {
      letter-spacing: 1.2px;
    }
  }
}
