@import '../utils/variables';

.home {
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    text-align: center;
  }

  &__banner {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__img {
    &--girls {
      position: relative;
      width: 100%;
      height: 100%;
      object-fit: fill;
      z-index: -1;
    }
    &--logo {
      position: absolute;
      top: 25%;
      left: 15%;
    }
  }

  &__listen {
    // padding: 20px 88px;
    width: 90%;
    margin-bottom: 62px;
    // h1 {
    //   text-align: center;
    // }

    &-icons {
      margin-top: 36px;
      display: flex;
      justify-content: space-around;
    }
  }

  &__last-video {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 62px;

    &-video {
      position: relative;
      width: 100%;
      height: 0;
      padding-bottom: 56.25%;
      overflow: hidden;
      margin-top: 36px;

      iframe,
      object,
      embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__follow {
    width: 90%;
    margin-bottom: 62px;

    &-icons {
      margin-top: 36px;
      display: flex;
      justify-content: space-around;
    }
  }
}

.listen {
  background-color: #fff;
  border-radius: 50px;
  padding: 16px;
  border: none;
  position: absolute;
  top: 65%;
  left: 44%;

  img {
    width: 14px;
    height: 14px;
    margin-left: 5px;
  }
}

@media (max-width: 1024px) {
  .listen {
    left: 40%;
  }
}

@media (max-width: 480px) {
  .listen {
    padding: 12px 10px;
    left: 50%;
    // transform: translate(-50%, -50%);
    transform: translateX(-50%);
  }
}
