@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Roboto+Condensed:wght@400;500&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 500;
}

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 700;
}